:root {
    --primary-color: #001e43;
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #dfe3e4;
}

main>.container {
    padding: 60px 15px 0;
}

#content {
    min-height: 90vh;
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}


nav {
    background-color: var(--dark-color);
    color: var(--white-color);
}

footer {
    background-color: var(--dark-color);
    color: var(--white-color);
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer .social>a {
    color: var(--white-color);
}


footer .social>a:hover {
    opacity: .9;
    color: var(--secondary-color);
}

.checklist>li i {
    color: #ff993b;
}











/* Techonolgy Used Icons */
.jsicon {
    color: rgb(226, 211, 4);
}

.jsicon {
    color: rgb(226, 211, 4);
}

.bsicon {
    color: purple;
}

.html5icon {
    color: red;
}

.css3icon {
    color: blue;
}